.title {
  text-align: center;
}
.search {
  text-align: center;
}
.search input {
  width: 98%;
  height: 40px;
  font-size: 20px;
}
.list {
  width: 100%;
  padding-top: 20px;
}
.list p {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px;
  font-size: 25px;
}
